@import url("/home/vinicius/.cache/wal/colors-custom-gtk3.css");

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "FiraCode Nerd Font";
    font-size: 15px;
}

window#waybar {
    /* background-color: rgba(43, 48, 59, 0.65); */
    background-color: transparent;
    color: white;
}

/* window#waybar.hidden { */
/*     opacity: 0.2; */
/* } */

/* #workspaces { */
/*     padding: 0 5px; */
/*     background: @color0; */
/*     border-radius: 3px; */
/* } */

#workspaces button {
    padding: 0 2px;
    /* margin: 3px 3px; */
    /* background-color: #161320; */
    /* background-color: rgba(0, 0, 0, 0.2); */
    background: transparent;
    color: @color15;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 50%;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @color6;
    /* padding: 3px; */
    color: @color0;
    border-radius: 50%;
    /* box-shadow: inset 0 -3px @color14; */
}

#workspaces button.occupied {
    box-shadow: inset 0 -3px @color7;
}

#workspaces button.focused {
    background-color: @color0;
    box-shadow: inset 0 -3px @color3;
}

#workspaces button.active {
   color: @color5;
}

#workspaces button.active:hover {
   color: @color0;
}

#workspaces button.urgent {
    background-color: #F28FAD;
}

.custom-sá¹•otify,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#workspaces,
#window,
#tray,
#idle_inhibitor,
#mpd,
#language,
#idle_inhibitor {
    padding: 5px 10px;
    margin: 3px 3px;
    color: @color7;
    border-radius: 3px;
    /* background-color: #161320; */
    background-color: @color0;
}

/* #window, */
/* #workspaces { */
/*     margin: 0 4px; */
/* } */

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 9px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 9px;
}

#clock {
    min-width: 45px;
    /* margin-right: 11px; */
}

#battery {
    min-width: 55px;
}

@keyframes blink {
    to {
        background-color: @color7;
        color: @color0;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @color7;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @color7;
}

#backlight {
    min-width: 55px;
}

#network {
    min-width: 150px;
}

#tray {
    /* background-color: #161320; */
    background-color: @color0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @color3;
}

